<%= form_for([main_app, :apply, :public, @event], :html => {:id=>"form_event", :class=>"mb-0 form-horizontal", :role => "form", :method => :post, multipart: true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Application Form
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="event_form_error">
        <%= @fresher.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%= theme_form_field(@fresher, :name) %>
        <%= theme_form_field(@fresher, :email) %>
        <%= theme_form_field(@fresher, :phone) %>
        <%= theme_form_field(@fresher, :current_city) %>
        <%= theme_form_field(@fresher, :native_city) %>

        <%= f.fields_for :candidate do |c| %>
          <% options_list = Array[*Candidate::YEAR_OF_PASSING_LIST.collect {|v,i| [v,v] }].sort %>
          <%= theme_form_select_group(c, @fresher, :year_of_passing, options_list, label: "Year of Passing", param_name: "fresher[year_of_passing]", prompt: true) %>
        <% end %>

        <%= theme_form_field(@fresher, :skills, html_options: {type: 'textarea'}) %>
        <%= theme_form_field(@fresher, :resume, html_options: {type: 'file'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= theme_form_button(@career_interest, "Submit the Form") %>
      </div>
    </div>
  </div>
<% end %>

