<%= form_for([main_app, :admin, @event], :html => {:id=>"form_event", :class=>"mb-0 form-horizontal", :role => "form", :method => (@event.new_record? ? :post : :put), :remote=>true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= params[:action].titleize %> Event
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="event_form_error">
        <%= @event.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%# Name (string)  %>
        <%= theme_form_field(@event, :name) %>

        <%# Slug (string)  %>
        <%= theme_form_field(@event, :slug) %>

        <%# Date (string)  %>
        <% value = @event.date ? @event.date.strftime("%d/%m/%Y") : "" %>
        <%= theme_form_field(@event, :date, html_options: {"data-provide".to_sym => "datepicker", value: value}) %>

        <%# Venue (string)  %>
        <%= theme_form_field(@event, :venue) %>

        <%# Description (string)  %>
        <%= theme_form_field(@event, :description, required: false, html_options: {type: 'textarea'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% show_url = @event.new_record? ? main_app.admin_events_path : main_app.admin_event_path(@event) %>
        <%= link_to "Cancel", show_url, class: "btn btn-default", remote: true %>
        <%= theme_form_button(@event) %>
      </div>
    </div>
  </div>
<% end %>

