<div class="panel panel-default media p-5">
  <a class="media-left" href="#">
    <%= display_image(event, "logo.image.url",
                        width: "125px",
                        place_holder: {
                          width: 125,
                          height: 90,
                          text: "<No Image>"}
                        ) %>
  </a>
  <div class="media-body">
    <%= theme_item_title(event.name, main_app.admin_event_path(event)) %>
    <%= theme_item_sub_title(stringify_date(event.date)) if event.date %>
    <%#= theme_item_description(event.venue) %>
    <%= clear_tag(10) %>
    <%= theme_item_description(event.description, 80) %>
  </div>
</div>

