<%= flash_message if request.xhr? -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div class="pull-left" style="width:30%;">
      <%
        #redirect_url = main_app.admin_event_path(@event)
        #change_picture_url = upload_image_link(@event, redirect_url, :logo)
      %>
      <%#= theme_image(@event, redirect_url, :logo, "logo.image.url", change_picture_url: change_picture_url) %>
    </div>
    <div class="pull-left ml-10" style="width:65%;">
      <%= theme_panel_heading(@event.name) %>
      <%= theme_panel_sub_heading(stringify_date(@event.date), "#") if @event.date %>
      <%= theme_panel_description(@event.venue) %>
      <%= theme_panel_description(@event.description, "fs-14 mt-10 text-color-gray") %>
    </div>

    <div class="cl-20"></div>

    <%= theme_edit_button(main_app.edit_admin_event_path(@event)) %>
    <%= theme_delete_button(main_app.admin_event_path(@event)) %>

  </div>
</div>

<%# Display Projects %>
<div class="panel panel-default">
  <div id="div_event_career_interests" class="panel-body" style="height:auto;">
    <div class='cl'></div>

    <div class='cl'></div>
  </div>
</div>

<%= theme_more_widget(@event,
          data_columns: [:id, :created_at, :updated_at],
          super_admin: true) %>





