<div class="panel panel-default" style="height:220px;">
  <div class="panel-body" style="height:auto;">
    <div class="pull-left" style="width:30%;">
      <%
        #redirect_url = main_app.admin_event_path(event)
        #change_picture_url = upload_image_link(event, redirect_url, :logo)
      %>
      <%#= theme_image(event, redirect_url, :logo, "logo.image.url", change_picture_url: change_picture_url) %>
    </div>
    <div class="pull-left ml-10" style="width:100%;">
      <%= link_to theme_panel_heading(event.name), "#", target: "_blank" %>
      <%= theme_panel_sub_heading(stringify_date(event.date), "#") if event.date %>
      <%= theme_panel_description(event.venue) %>
      <%= clear_tag(10) %>
      <%= theme_panel_description(event.description, "fs-14 mt-10 text-color-gray") %>
    </div>
  </div>
</div>
