<div class="row">
	<div class="col-sm-9">
		<%= render :partial=>"event_details", locals: {event: @event, show_apply_button: false} %>
	</div>
	<div class="col-sm-3" style="padding-left:0">
		<div class="panel panel-default p-10 text-color-gray" style="height:220px;text-align:center;">
			<div class="text-color-green" style="font-size:100px;"><%= @event.career_interests.count  %></div>
			<div style="font-size:28px;">Applicants</div>
		</div>
	</div>
</div>


<%= clear_tag(20) %>
<%= theme_heading("Career Interests") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<a onclick="$('#div_career_interest_filters').toggle()" class="btn btn-primary pull-right mr-10">Filter Results</a>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(CareerInterest, main_app.admin_event_career_interests_path(@event)) %>
  </div>
</div>

<div class="row mb-10">
	<div id="div_career_interest_filters" class="col-sm-12" style="display:none;">
		<%= render :partial => "filters" %>
  </div>
</div>

<%# Renders a partial to display all the career_interests %>
<div class="row">
	<div id="div_career_interest_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>

	<div id="div_career_interest_drop_down" class="col-xs-12 visible-xs">
		<%#= theme_drop_down(@career_interests, :applicant_name) %>
	</div>

	<div id="div_career_interest_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@career_interests) %>
	</div>

</div>


