<%= form_for([main_app, @career_interest], :multipart => true, :html => {:id=>"form_career_interest", :class=>"mb-0 form-horizontal", :role => "form"}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      New Career Interest
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="client_form_error">
        <%= @career_interest.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%# First Name (string)  %>
        <%= theme_form_field(@career_interest, :first_name) %>

        <%# Last Name (string)  %>
        <%= theme_form_field(@career_interest, :last_name) %>

        <%# Email (string)  %>
        <%= theme_form_field(@career_interest, :email) %>

        <%# Skills (string)  %>
        <%= theme_form_field(@career_interest, :skills) %>

        <%# Phone (string)  %>
        <%= theme_form_field(@career_interest, :phone) %>

        <%# City (string)  %>
        <%= theme_form_field(@career_interest, :city) %>

        <%# State (string)  %>
        <%= theme_form_field(@career_interest, :state) %>

        <%# Resume (string)  %>
        <%#= theme_form_field(@career_interest, :file) %>

        <%# Description (string)  %>
        <%#= theme_form_field(@career_interest, :description, required: false, html_options: {type: 'textarea'}) %>

        <%#= theme_form_field(@career_interest, :description, html_options: {type: 'file'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= theme_form_button(@career_interest) %>
      </div>
    </div>
  </div>
<% end %>
